.header {
  border-bottom: 1px solid var(--border-primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  gap: 4px;

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 34px;

    &.active .iconContainer {
      background-color: var(--background-primary-transparent);
      .icon {
        color: var(--text-primary-color);
      }
    }
  }
}
