.header {
  border-bottom: 1px solid #1b1f23;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  gap: 4px;

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 34px;

    .iconContainer {
      padding: 3px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;

      .icon {
        color: #98999b;
        width: 16px;
        height: 16px;
      }
    }

    &.active .iconContainer {
      background-color: #272d33;
      .icon {
        color: #e7e7e7;
      }
    }
  }
}
