.header {
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  align-items: center;

  .action {
    width: 24px;
    height: 24px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 18px;
      height: 18px;
      background-color: red;
    }
  }
}
