<section>
  arnaud crowther
</section>

<section>
  <div>
    <a target="_blank" href="//dynatrace.com">now: ui engineer @ dynatrace</a>
  </div>
  <div>
    <a target="_blank" href="//miniml.co">now: president @ miniml llc</a>
  </div>
</section>

<section>
  prev: guardian consulting, full-stack, sys admin
</section>

<section>
  <div>
    <a href="mailto:ping@arnaud.cr">ping@arnaud.cr</a>
  </div>
  <div>
    <a target="_blank" href="//github.com/areknow">github</a>
  </div>
  <div>
    <a target="_blank" href="//linkedin.com/in/arnaudcrowther/">linkedin</a>
  </div>
  <div>
    <a target="_blank" href="//instagram.com/areknowsee/">instagram</a>
  </div>
</section>

<section class="pad">
  detroit, 2018
</section>