{{#each site.resume }}

  <section>
    {{#if this.text }}
      {{ this.text }}
    {{else}}
      {{#each this.links }}
        <div>
          <a target="_blank" href="{{ this.href }}">
            <span>{{ this.text }}</span>
            <i class="material-icons">keyboard_arrow_right</i>
          </a>
        </div>
      {{/each}}
    {{/if}}
  </section>

{{/each}}