{{#each site.resume }}

  <section>
    {{#if this.text }}
      {{ this.text }}
    {{else}}
      {{#each this.links }}
        <div>
          <a target="_blank" href="{{ this.href }}">
            {{ this.text }}{{> angle-right }}
          </a>
        </div>
      {{/each}}
    {{/if}}
  </section>

{{/each}}