.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .sidebar {
    width: var(--_sidebar-width);
    position: relative;
    box-sizing: border-box;
    transition: width 100ms ease-in-out;
    flex-shrink: 0;

    &.isDragging {
      transition: none;
    }

    &.isCollapsed {
      padding: 0;
      overflow: hidden;

      > *:not(.resizer) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .resizer {
      position: absolute;
      top: 0;
      right: -2px;
      width: 4px;
      height: 100%;
      cursor: col-resize;
      transition:
        background-color 0.2s ease,
        opacity 0.2s ease;
      transition-delay: 0ms;
      z-index: 10;
      opacity: 0;

      &:hover {
        background-color: var(--interaction-primary-color);
        opacity: 1;
        transition-delay: 300ms;
      }

      &:active {
        background-color: var(--interaction-primary-color);
        opacity: 1;
      }
    }
  }

  .content {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
}
