section {
  padding: 140px 6%;
  border-bottom: 1px solid $black;
  &:last-child {
    border-bottom: none;
    padding: 60px 6%;
  }
  div {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
      align-items: center;
      .material-icons {
        transform: translateX(0) translateY(1px) scale(1.2);
        transition: transform 50ms ease-in-out;
      }
      &:hover {
        .material-icons {
          transform: translateX(.5rem) translateY(1px) scale(1.2)
        }
      }
    }
  }
}

@media (max-width: 700px) {
  section {
    padding: 120px 5%;
    &:last-child {
      padding: 30px 5%;
    }
  }
}

@media (max-width: 350px) {
  section {
    div {
      a {
        .material-icons {
          display: none;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  section {
    border-color: $white;
  }
}