<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arnaud P. Crowther">
    <link rel="stylesheet" href="/assets/css/main.min.css" type="text/css"/>
  </head>
  <body>

    <main>
      {{{ block "content" }}}
    </main>

    <script src="assets/js/main.min.js"></script>
  </body>
</html>
