:root {
  // font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #1f2429;
  color-scheme: light dark;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.os-scrollbar {
  --os-size: 15px;
  --os-handle-bg: rgba(255, 255, 255, 0.2);
  --os-handle-border-radius: 0;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;
}
