:root {
  // font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  // Added to fix content overflow
  // padding: 0;
  // overflow: hidden;
  // height: 100%;
}

// Added to fix content overflow
// #root {
//   height: 100%;
//   overflow: hidden;
// }

// Added to fix content overflow
// .app {
//   height: 100%;
//   overflow: hidden;
// }

.os-scrollbar {
  --os-size: 15px;
  --os-handle-bg: rgba(255, 255, 255, 0.2);
  --os-handle-border-radius: 0;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;
}
